@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&display=swap");
@import "variables.css";

/* components */
@import "components/status-bar.css";
@import "components/screen-header.css";

/* screen */
@import "screen/main-screen.css";

body {
  font-family: "Advent Pro", sans-serif;
  height: 200vh;
  margin: 0 20px;
  background-color: #12172b;
}
.background {
  width: 200vw;
  height: 200vh;
  background-image: url("/wed2.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  filter: blur(20px);
}
.main-screen {
  padding: 20px;
  margin: 0 10px;
}
fff
