@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap");

@import "reset.css";
@import "variables.css";

/* components */
@import "components/status-bar.css";
@import "components/screen-header.css";

/* screen */
@import "screen/main-screen.css";

.body {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  height: 200vh;
  margin: 0 20px;
}
.main-screen {
  padding: 20px;
}
