.main-screen__img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  z-index: 999;
  margin-top: 10px;
}
.main-screen__title {
  padding: 0 0 30px 0;
  font-size: 30px;
  font-weight: 600;
}
@keyframes imgscale {
  from {
    transform: 0;
  }
  to {
    transform: scale(1.05);
  }
}
.main-screen__img:hover {
  animation: imgscale 0.5s ease-in-out forwards;
}
